*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.image{
    width: 30%;
    border-radius: 8px;
    border: 1px solid;
}

.container_court_card{
    border: 1px solid black;
    border-radius: 8px;
    width: 550px;
    height: 220px;
    padding: 8px;
    display: flex;
}

.container_court{
    padding: 8px;
    width: 100%;
}

.court{
    display: flex;
    flex-direction: column;
    align-items: start;
}

.container_button{
    display: flex;
    justify-content: end;
}

.service{
    height: 40px;
}

.price{
    height: 50px;
}

.description{
    height: 40px;
}



  .reserve_button_wrapper{
  width: 100%;
  display: flex;
  justify-content: center;
}

.enviar{
  width: 100%;
  height: 35px;
  background-color: #000;
  border: 1px solid #ccc;
  color: white;
  border-radius: 8px;
  padding: 8px;
  cursor: pointer;
  transition: background 0.2s ease;

}

.enviar:hover{
  background-color: gray;
}

.enviar:disabled {
  background-color: #ccc;
  cursor: not-allowed;
  opacity: 0.6;
}
